<h2>ダッシュボード</h2>

<h4 style="margin-top: 30px;">まじもめ集計</h4>
<h5 style="margin-top: 30px;"><p><%= @week_ago %> ~ <%= @today %></p></h4>

<%= @new_users %><br>
<%= @all_posts %><br>
<%= @uniq_posts %><br>
<%= @comments %><br>
<%= @posts_ratio %><br>
<%= @comments_ratio %><br>
<%= @mm %><br>
