<%= render partial: 'shared/margin_top' %>

<main id="main" style="margin-bottom: '200px;">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-9 col-lg-6">
      <div style="margin-bottom: 7px;">
        <div class="userProfile">
          <div class="row start-xs">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
              <div class="userProfile__img">
                <%= image_tag(@user.decorate.avatar, :alt => "user icon") %>
              </div>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
              <div class="userProfile__bd">
                <div class="userProfile__name">
                  <h1><%= @user.username == "匿名" ? "匿名さんの投稿" : "#{@user.decorate.username}のページ" %></h1>
                </div>
                <!-- <div class="userProfile__edit">
                  <div class="btn btn--secondary">プロフィールを編集する</div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="userProfile__footer">
          <div class="row start-xs">
            <div class="col-xs-12">
              <p><%= @user.username == "匿名" ? "匿名の投稿一覧" : "#{@user.decorate.username}の書込み:" %></p>
            </div>
          </div>
        </div>
      </div>
      <% if @posts.any? %>
        <%= render partial: 'posts', collection: @posts, cached: true %>
      <% end %>
      <% if user_signed_in? && @user.id == current_user.id  %>
        <div id="floatingContainer">
          <%= link_to new_post_path, class: "floatingAction__item" do %>
            <%= image_tag "talk-logo.png" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</main>
