<% if user_signed_in? %>
  <div class="row mainMarginTop"></div>
  <div class="row navMarginTop"></div>
<% else  %>
  <div class="row mainMarginTop"></div>
<% end %>

<main id="main">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-9 col-lg-6">
      <div class="alpha">
        <div class="row">
          <div class="alphaContainer">
            <div class="col-xs-3">
              <div class="alpha__portrait">
                <div class="alphaRabbitContainer">
                  <div class="alphaRabbit__head">
                    <div class="alphaRabbit__ear left">
                      <div class="alphaRabbit__ear--inner"></div>
                    </div>
                    <div class="alphaRabbit__blink left"></div>
                    <div class="alphaRabbit__blink right"></div>
                    <div class="alphaRabbit__ear right">
                      <div class="alphaRabbit__ear--inner"></div>
                    </div>
                    <div class="alphaRabbit__eye left">
                      <div class="alphaRabbit__eye--glow"></div>
                    </div>
                    <div class="alphaRabbit__eye right">
                      <div class="alphaRabbit__eye--glow"></div>
                    </div>
                    <div class="alphaRabbit__nose"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-9">
              <div class="alpha__lede">
                <div class="alpha__ledeText">
                  <p>おかえりなさい。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="userRegistration">
        <div class="userForm">
          <div class="userFormSection">
            <div class="userFormMessage danger">
              <%= devise_error_messages! %>
            </div>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me, {:checked => true} %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
            <div class="form__submit">
              <%= f.button type: 'submit', :id => 'userFormBtn', :class => 'btn btn--primary' do %>
                ログイン
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- <div class="userDeviseLinks">
          <div class="row start-xs">
            <div class="col-xs-12">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</main>
