<% if posts.any? %>
  <% posts.each do |post| %>
    <li class="entries__item">
      <div class="media">
        <div class="media__img">
          <%= image_tag(post.decorate.avatar, :alt => "user icon") %>
        </div>
        <div class="media__bd">
          <%= link_to post_path(post), class: "post-content" do %>
            <div>
              <div class="post-content__meta">
                <span class="post-content__author"><%= post.decorate.author %></span>
                <span class="post-content__datetime"><%= post.decorate.last_active_at %></span>
              </div>
              <div class="post-content__body">
                <%= simple_format(hbr(post.body)) %>
              </div>
              <div class="post-content__comments-count">
                <span>コメント <%= post.comments.size %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
