<div id="floating-container">
  <%= link_to new_post_path, class: "floating-action__item" do %>
    <%= image_tag "talk-logo.png" %>
  <% end %>
</div>

<div class="module">
  <div class="module__body">
    <div class="about">
      <div class="about__lede">
        <p class="about__lede-text">寂しい、辛い、誰かと<br>話したい時のコミュニティ。</p>
      </div>
      <div class="about__action">
        <a href="<%= about_path %>" class="btn btn--secondary">初めての方はこちらへ</a>
      </div>
    </div>
    <div class="entries">
      <ul class="entries__list">
        <%= render 'post_list', posts: @recents %>
        <%= render 'post_list', posts: @posts %>
      </ul>
      <div class="entries__pagination">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
