<% if user_signed_in? %>
  <div class="row mainMarginTop"></div>
  <div class="row navMarginTop"></div>
<% else  %>
  <div class="row mainMarginTop"></div>
<% end %>

<main id="main">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-9 col-lg-6">
      <% if user_signed_in? %>
        <%= render partial: 'shared/alpha', locals: { lede_text: current_user.decorate.username + 'ですね！<br />寂しいなら頼ってもいいんだよ!' } %>
      <% else %>
        <%= render partial: 'shared/alpha', locals: { lede_text: '投稿はかぶってもOK! <br />寂しいなら頼ってもいいんだよ!' } %>
      <% end %>

      <section class="pageSection">
        <div class="homeFeed">
          <ul class="postList">
            <%= render :partial => 'posts', :object => @posts %>
          </ul>
          <p class="i-pagination">
            <%= link_to_next_page(@posts, 'もっと見る', :remote => true) %>
          </p>
        </div>
      </section>
      <div id="floatingContainer">
        <%= link_to new_post_path, class: "floatingAction__item" do %>
          <%= image_tag "talk-logo.png" %>
        <% end %>
      </div>
    </div>
  </div>
</main>
<script>
  $(function() {
    // Configure infinite table
    return $('.postList').infinitePages({
      debug: true,
      context: '#main',
      loading() {
        return $(this).text('...');
      },
      error() {
        return $(this).button('エラーが起こりました。');
      }
    });
  });
</script>
