<div class="entries">
  <div class="entries__form">
    <div class="form">
      <%= form_for(@post, html: { class: "form-stacked" }) do |f| %>
        <% if @post.errors.any? %>
          <div class="form-section">
            <div class="form-message danger">
              <%# <%= pluralize(@post.errors.count, "error") %>
              <ul>
                <% @post.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        <div class="form-section">
          <div class="form__item">
            <div class="form__label">
              <%= f.label :author %>
            </div>
            <div class="form__text-field">
              <%= f.text_field :author, class: "input--1", placeholder: 'ニックネーム' %>
            </div>
          </div>
          <div class="form__item">
            <div class="form__label">
              <%= f.label :body %>
            </div>
            <div class="form__textarea">
              <%= f.text_area :body, class: "input--1", placeholder: '今の寂しさや悩み、ふと思ったことなどを投稿しましょう'%>
            </div>
          </div>
        </div>
        <div class="form__submit">
          <%= f.button type: 'submit', :class => 'btn btn--primary' do %>
            投稿する
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- <div className="postForm">
  <div className="row center-xs">
    <div className="col-xs-12">
      <div className="postFormHeader">
        <div className="row between-xs postFormHeaderWrapper">
          <div className="col-xs-2 postFormHeader__itemWrapper">
            <div className="postFormHeader__item" onClick={this.onBack}>
              <Feather.X color="#fb9d6d" size="28"/>
            </div>
          </div>
          <div className="col-xs-3 col-sm-2 col-md-1 postFormHeader__itemWrapper">
            <Link to="#">
              <div className="postFormHeader__item">
                <div className="btn btn--primary postForm__submit">投稿</div>
              </div>
            </Link>
          </div>
        </div>
      </div>
      <div className="postFormMain">
        <div className="postFormMain__form">
          <div className="row">
            <div className="col-xs-3">
              <div className="postFormMain__img">
                <img alt="user icon" src="http://localhost:3000/svg-animals-square/tiger-square.svg" />
              </div>
            </div>
            <div className="col-xs-9">
              <div className="postFormMain__bd">
                <Textarea type="text"
                  id="postFormMain__textarea"
                  placeholder="体験談や今の寂しさなど、気軽に投稿してみよう!"
                  maxRows={10}
                  value={this.state.body}
                  onChange={this.onChangeBody}>
                </Textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
