<div class="entries">
  <div class="entries__item">
    <div class="media">
      <img class="media__img" src="https://api.adorable.io/avatars/285/abott@adorable.io.png" alt="">
      <div class="media__bd">
        <div>
          <div class="post-content__author">
            <span><%= @post.author %></span>
          </div>
          <div class="post-content__body">
            <p><%= @post.body %></p>
          </div>
          <div class="post-content__comments-count">
            <span>コメント <%= @post.comments_count %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="entries__comments">
    <ul class="comments__list">
      <% @post.comments.each do |comment| %>
        <li class="comments__item">
          <div class="media">
            <img class="media__img" src="https://api.adorable.io/avatars/285/abott@adorable.io.png" alt="">
            <div class="media__bd">
              <div class="comment-content__author">
                <span><%= comment.author %></span>
              </div>
              <div class="comment-content__body">
                <p><%= comment.body %></p>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
