<div class="entries">
  <div class="entries__item">
    <div class="media">
      <div class="media__img">
        <%= image_tag(@post.decorate.avatar, :alt => "user icon") %>
      </div>
      <div class="media__bd">
        <div>
          <div class="post-content__author">
            <span><%= @post.decorate.author %></span>
          </div>
          <div class="post-content__body">
            <p><%= simple_format(@post.body) %></p>
          </div>
          <div class="post-content__comments-count">
            <span>コメント <%= @post.comments_count %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="entries__comments">
    <% if @post.comments.any? %>
      <ul class="comments__list">
        <% @post.comments.each do |comment| %>
          <li class="comments__item">
            <div class="media">
              <div class="media__img --small">
                <%= image_tag(comment.decorate.avatar, :alt => "commenter icon") %>
              </div>
              <div class="media__bd">
                <div class="comment-content__author">
                  <span><%= comment.decorate.author %></span>
                </div>
                <div class="comment-content__body">
                  <p><%= simple_format(comment.body) %></p>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div class="comments__form">
      <div class="form">
        <%= form_for([@post, @post.comments.build], html: { class: "form-stacked" }) do |f| %>
          <div class="form-section">
            <div class="form__item">
              <div class="form__text-field">
                <%= f.text_field :author, class: "input--1", placeholder: 'ニックネーム' %>
              </div>
            </div>
            <div class="form__item">
              <div class="form__textarea">
                <%= f.text_area :body, class: "input--1", placeholder: 'コメント'%>
              </div>
            </div>
          </div>
          <div class="form__submit">
            <%= f.button type: 'submit', :class => 'btn btn--primary' do %>
              コメントする
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
