<main id="main" style="margin-bottom: '200px;">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-9 col-lg-6">
      <div class="postShow">
        <div class="o-media">
          <div class="row start-xs">
            <div class="col-xs-2">
              <div class="o-media__img">
                <a href="#">
                  <%= image_tag("animals/lion-square.svg", :alt => "user icon") %>
                </a>
              </div>
            </div>
            <div class="col-xs-10" style={{paddingLeft:'0.2rem'}}>
              <div class="o-media__bd">
                <div class="postContent">
                  <div class="postContent__meta">
                    <a href="#">
                      <span class="postContent__author"><%= @post.decorate.author %></span>
                    </a>
                    <span class="postContent__datetime"><%= @post.decorate.datetime %></span>
                  </div>
                  <div class="postContent__body">
                    <p><%= simple_format(hbr(@post.body)) %></p>
                  </div>
                  <div class="postContent__commentsCount">
                    <span>コメント <%= @post.comments.size %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="postShowComments">
        <h2 class="postShowComments__heading">コメント</h2>
        <% if @comments.any? %>
          <ul class="commentList">
            <% @comments.each do |comment| %>
              <li class="commentItem">
                <div class="o-media">
                  <div class="row start-xs">
                    <div class="col-xs-2">
                      <div class="o-media__img  --small">
                        <a href="#">
                          <%= image_tag("animals/pig-square.svg", :alt => "comment user icon") %>
                        </a>
                      </div>
                    </div>
                    <div class="col-xs-10">
                      <div class="o-media__bd">
                        <div class="commentContent">
                          <div class="commentContent__meta">
                            <Link to="/users/1">
                              <span class="commentContent__author"><%= comment.decorate.author %></span>
                            </Link>
                            <span class="commentContent__datetime"><%= comment.decorate.datetime %></span>
                          </div>
                          <div class="commentContent__body">
                            <p><%= simple_format(hbr(comment.body)) %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="commentForm">
    <%= form_for([@post, @post.comments.build], html: { class: "form-stacked" }) do |f| %>
      <div class="row between-xs commentFormWrapper">
        <div class="col-xs-9 commentForm__itemWrapper">
          <div class="commentForm__form">
            <%= f.text_area :body, id: "commentForm__textarea", placeholder: 'コメントする'%>
          </div>
        </div>
        <div class="col-xs-3 commentForm__itemWrapper">
          <div class="commentForm__item">
            <div class="commentForm__submit">
              <div id="btn-commentForm__submit">
                <%= f.button type: 'submit', :id => "btn-commentForm__submit", :class => 'btn btn--primary' do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f7fae9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path>
                  </svg>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>

  <!-- <div class="commentForm">
    <div class="row between-xs commentFormWrapper">
      <div class="col-xs-9 commentForm__itemWrapper">
        <div class="commentForm__form">
          <Textarea
            type="text"
            id="commentForm__textarea"
            placeholder="コメントする"
            maxRows={4}
            value={this.state.commentForm.body}
            onChange={this.onChangeCommentBody.bind(this)}>
          </Textarea>
        </div>
      </div>
      <div class="col-xs-3 commentForm__itemWrapper">
        <div class="commentForm__item">
          <div class="commentForm__submit">
            <div id="btn-commentForm__submit" class="btn btn--primary">
              <Feather.MessageCircle color="#f7fae9"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- <div class="comments__form">
  <div class="form">
    <%= form_for([@post, @post.comments.build], html: { class: "form-stacked" }) do |f| %>
      <div class="form-section">
        <div class="form__item">
          <div class="form__text-field">
            <%= f.text_field :author, class: "input--1", placeholder: 'ニックネーム' %>
          </div>
        </div>
        <div class="form__item">
          <div class="form__textarea">
            <%= f.text_area :body, class: "input--1", placeholder: 'コメント'%>
          </div>
        </div>
      </div>
      <div class="form__submit">
        <%= f.button type: 'submit', :class => 'btn btn--primary' do %>
          コメントする
        <% end %>
      </div>
    <% end %>
  </div>
</div> -->
