<% if user_signed_in? %>
  <div class="row mainMarginTop"></div>
  <div class="row navMarginTop"></div>
<% else  %>
  <div class="row mainMarginTop"></div>
<% end %>

<main id="main" style="margin-bottom: '200px;">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-9 col-lg-6">
      <div class="postShow">
        <div class="o-media">
          <div class="row start-xs">
            <div class="col-xs-2">
              <div class="o-media__img">
                <%= link_to user_path(@post.user) do %>
                  <%= image_tag(@post.user.decorate.avatar, :alt => "user icon") %>
                <% end %>
              </div>
            </div>
            <div class="col-xs-10" style={{paddingLeft:'0.2rem'}}>
              <div class="o-media__bd">
                <div class="postContent">
                  <div class="postContent__meta">
                    <%= link_to user_path(@post.user) do %>
                      <span class="postContent__author"><%= @post.decorate.author %></span>
                    <% end %>
                    <span class="postContent__datetime"><%= @post.decorate.datetime %></span>
                  </div>
                  <div class="postContent__body">
                    <p><%= simple_format(hbr(@post.body)) %></p>
                  </div>
                  <div class="postContent__commentsCount">
                    <span>コメント <%= @post.comments.size %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="postShowComments">
        <% if @comments.any? %>
          <h2 class="postShowComments__heading">コメント</h2>
          <ul class="commentList">
            <% @comments.each do |comment| %>
              <li class="commentItem">
                <div class="o-media">
                  <div class="row start-xs">
                    <div class="col-xs-2">
                      <div class="o-media__img  --small">
                        <%= link_to user_path(comment.user) do %>
                          <%= image_tag(comment.user.decorate.avatar, :alt => "user icon") %>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-xs-10">
                      <div class="o-media__bd">
                        <div class="commentContent">
                          <div class="commentContent__meta">
                            <%= link_to user_path(comment.user) do %>
                              <span class="commentContent__author"><%= comment.decorate.author %></span>
                            <% end %>
                            <span class="commentContent__datetime"><%= comment.decorate.datetime %></span>
                          </div>
                          <div class="commentContent__body">
                            <p><%= simple_format(hbr(comment.body)) %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <%= render :partial => "comment_form" %>
  <% else %>
    <%= link_to new_user_registration_path do %>
      <%= render :partial => "comment_form" %>
    <% end %>
  <% end %>
</main>
