<!DOCTYPE html>
<html>
<head>
  <title>ofton | 寂しいがなくなるコミュニテイ</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
  <!-- <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" /> -->
  <% if Rails.env.production? %>
    <%= render 'shared/scripts/google_analytics' %>
    <%= render 'shared/scripts/hotjar' %>
  <% end %>
</head>
<body>
<div id="container">
  <div id="flex-wrapper">
    <header id="header">
      <div class="header">
        <div class="headerMain">
          <div class="headerMain__brand">
            <a class="" href="/"><span>ofton</span></a>
          </div>
        </div>
      </div>
    </header>
    <% if admin_signed_in? %>
      <div class="app-admin-sign">ADMIN VIEW</div>
    <% end %>
    <main id="main">
      <%= yield %>
    </main>
  </div>
</div>
</body>
</html>
