<!DOCTYPE html>
<html>
<head>
  <title>ofton | 寂しいがなくなるコミュニテイ</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-scale=1.0, maximum-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
  <!-- <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" /> -->
  <% if Rails.env.production? %>
    <%= render 'shared/scripts/google_analytics' %>
    <%= render 'shared/scripts/hotjar' %>
  <% end %>
</head>
<body>
<div id="container">
  <div id="flex-wrapper">
    <header id="header">
      <div class="header">
        <div class="headerMain">
          <div class="headerMain__brand">
            <a class="" href="/"><span>ofton</span></a>
          </div>
          <div class="headerMain__toggle">
            <%= image_tag('header-burger.svg', :alt => "header burger") %>
          </div>
        </div>
        <nav class="headerMain__menu">
          <div class="headerMain__links">
            <a href="/">トップ</a>
            <a href="/about">oftonについて</a>
            <a href="/policy">ポリシー</a>
            <a href="/contact">お問い合わせ</a>
            <% if user_signed_in? %>
              <%= link_to 'ログアウト', destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to "ユーザー登録", new_user_registration_path %>
              <%= link_to "ログイン", new_user_session_path %>
            <% end %>
          </div>
        </nav>
        <% if user_signed_in? %>
          <div class="headerNav">
            <div class="row center-xs">
              <div class="headerNav__item col-xs-4 col-md-3 col-lg-2" id="nav-<%= is_active_path?(root_path) %>">
                <%= link_to root_path do %>
                  <div class="headerNav__icon">
                    <i data-feather="home"></i>
                  </div>
                <% end %>
              </div>
              <div class="headerNav__item col-xs-4 col-md-3 col-lg-2" id='nav-<%= is_active_path?(user_notifications_path(current_user)) %>'>
                <%= link_to user_notifications_path(current_user) do %>
                  <div class="headerNav__icon">
                    <i data-feather="heart"></i>
                  </div>
                <% end %>
              </div>
              <div class="headerNav__item col-xs-4 col-md-3 col-lg-2" id='nav-<%= is_active_path?(user_path(current_user)) %>'>
                <%= link_to user_path(current_user) do %>
                  <div class="headerNav__icon">
                    <i data-feather="user"></i>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="headerNav noUser"></div>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <div id="footer">
      <footer role='contentinfo' class="footer__contentinfo">&copy; 2017 ofton project.</footer>
    </div>
  </div>
</div>
</body>
</html>
