<!DOCTYPE html>
<html>
<head>
  <title>ofton</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" /> -->
  <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />

  <% if Rails.env.production? %>
    <%= render 'shared/scripts/google_analytics' %>
  <% end %>
</head>
<style>
  .error-page {
    width: 100%;
    position: relative;
    font-family: "Rounded Mplus 1c";
  }

  .error-page__img {
    max-width: 100%;
    opacity: 0.5;
    filter: brightness(50%);
    border-radius: 3px;
  }

  .error-page__msg {
    position: absolute;
    font-weight: 500;
    color: white;
    margin: 0;
    top: 50%;
    left: 50%;
    font-size: 18px;
    text-align: center;
    transform: translate(-50%, -50%);
  }

</style>
<body>
<div id="container">
  <div id="flex-wrapper">
  <header id="header">
    <div class="navbar">
      <div class="navbar-center">
        <div class="navbar-item">
          <div class="app-logo">
            <%= link_to root_path do %>
              <%= image_tag 'app-logo.png' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main id="main">
    <div class="error-page">
      <%= image_tag('404-rabbit.jpg', :class => 'error-page__img') %>
      <p class="error-page__msg">
        ご指定のページを表示できませんでした。
      </p>
      <div class="error-page__body">
      </div>
    </div>
  </main>
  <aside class="aside" id="sidebar">
  </aside>
  <aside class="aside" id="sidebar-2">
  </aside>
  <div id="footer">
    <div class="footer-links">
      <ul class="footer-links__list">
        <li><%= link_to 'トップ', root_path %></li>
        <li><%= link_to 'oftonについて', about_path %></li>
        <li><%= link_to 'お問い合わせ', contact_path %></li>
        <li><%= link_to 'プライバシーポリシー', policy_path %></li>
        <li><%= link_to '利用規約', terms_path %></li>
      </ul>
    </div>
    <footer role='contentinfo' class="footer__contentinfo">&copy; 2017 ofton project.</footer>
  </div>
  </div>
</div>
</body>
</html>
